/Local-Network/storagenode/1
/Local-Network/storagenode/2
/Local-Network/storagenode/3
/Local-Network/storagenode/5
/Local-Network/storagenode/6
/Local-Network/storagenode/7
/Local-Network/storagenode/8
/Local-Network/storagenode/9

